#square-container{
    border: 1px black solid;
    margin:auto;
    min-height: 85px;
}
.logo{
    float: left;
    padding: 35px 15px 5px;
    height: 50px;
}
.profilePic{
    padding: 35px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    text-align: right;

}
.nav li{
    display: inline-block;
    font-size: 15px;
    padding: 50px 5px 5px;
}
h1, h2{
    text-align: center;
    color: #6d459d;
}
a:link{
    color: #6d459d;;
}
a:visited{
    color: #b294d8;
}
a:hover{
    color: #8c64ac;
}